{% extends 'base.html' %} {% block body %}
{% if request.user.is_authenticated %}

<h1 class="mt-5 mb-3">Records...</h1>
<table class='table table-dark table-stripped-columns table-hover border rounded'>
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">zipcode</th>
    </tr>
  </thead>
{% for record in records %}
<tbody>
  <tr>
    <th scope="row">{{ record.id }}</th>
    <td>{{record.first_name}}</td>
    <td>{{record.last_name}}</td>
    <td>{{record.address}}</td>
    <td>{{record.city}}</td>
    <td>{{record.zipcode}}</td>
  </tr>
</tbody>
{% empty %}
<tbody>
  <tr>
    <th scope="row">#</th>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>
</tbody>
{% endfor %}
</table>


{% else %}

    <form class="mt-5 p-5 border border-1 bg-primary rounded" method='POST' action={% url 'website:home' %}>
      {% csrf_token %}
      <h1>Login</h1>
      <br />
      <div class="my-3">
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="username"
          required 
        />
      </div>
      <div class="my-3">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="password"
          required 
        />
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  
{% endif %}
{% endblock %}
